@mixin header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;

}
@mixin container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
@mixin footer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
@mixin nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
@mixin home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-bottom: 20px;
}
@mixin section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-bottom: 20px;
}
@mixin card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}
@mixin form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}
