$cor-primaria: #3498db;
$cor-secundaria: #2ecc71;
$cor-fundo: background-image linear-gradient(to right, #00753b, #00d9ff);
$cor-texto: white;
$cor-hover: #2980b9;
$fonte-principal: monospace, sans-serif;
$espacamento: 20px;
$border-radius: 5px;

